

  /* Color Theme Swatches in Hex */
  .silhouette-fitness-girl-practicing-yoga-on-mountain-1-hex { color: #e38817; }
  .silhouette-fitness-girl-practicing-yoga-on-mountain-2-hex { color: #F2E2CE; }
  .silhouette-fitness-girl-practicing-yoga-on-mountain-3-hex { color: #F2B988; }
  .silhouette-fitness-girl-practicing-yoga-on-mountain-4-hex { color: #a94521; }
  .silhouette-fitness-girl-practicing-yoga-on-mountain-5-hex { color: #404040; }
  
  .silhouette-fitness-girl-practicing-yoga-on-mountain-4-hex { color: #d06818; }
