<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,600;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,600&display=swap">
    <link rel='stylesheet' href='/stylesheets/login_signup.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <h1>Sign up</h1>

    <form action="/signup" method="post">
        <div>
            <label for="signup_useremail"><span>Email</span></label>
            <input id="signup_useremail" type="email" name="signup_useremail" placeholder="Email" required>
        </div>

        <div>
            <label for="signup__password"><span>Password</span></label>
            <input id="signup__password" type="password" name="password" placeholder="Password" required>
        </div>

        <div>
            <label for="signup__first_name"><span>First name</span></label>
            <input id="signup__first_name" type="text" name="first_name" placeholder="First name" required>
        </div>

        <div>
            <label for="signup__last_name"><span>Last name</span></label>
            <input id="signup__last_name" type="text" name="last_name" placeholder="Last name" required>
        </div>

        <div>
            <label for="signup__street"><span>Street</span></label>
            <input id="signup__street" type="text" name="street" placeholder="Street" required>
        </div>

        <div>
            <label for="signup__building"><span>Building</span></label>
            <input id="signup__building" type="number" name="building" placeholder="Building" required>
        </div>

        <div>
            <label for="signup__zipcode"><span>Zipcode</span></label>
            <input id="signup__zipcode" type="number" name="zipcode" placeholder="Zipcode" required>
        </div>

        <div>
            <input type="submit" value="Sign up">
        </div>
    </form>
    <p>Already a member? <a href="/">Log in</a></p>
    </div>

    <script src="/javascripts/scripts.js"></script>
</body>

</html>