{% extends 'layout.twig' %}

{% block body %}

<section id="home_instr_top">
    <div class="home_instr_top__col_left">
        <div class="offers_section_title">Last Offers Near Me</div>
        <div class="last_offers_container"></div>
        <div id="browse_all_container">
            <a href="/index" id="browse_all_classes_btn">Browse all classes</a>
        </div>
    </div>
    <div class="home_instr_top__col_right">
        <div class="hidden" id="secretInfoHomeUser">{{data.user_id}}</div>
        <div class="home_instr_upcom_title grey">My next classes (<span id="nextClassesCount"></span>)</div>
        <div class="nextClassesContainer" id="home_instr_upcom_classes_wrapper">
        </div>
    </div>
</section>

<section id="favs">
    <div class="fav_section_title"></div>
</section>

<section id="stats">
    <div class="stats_section_title">My stats this month</div>
    <div class="stats_columns">
        <div class="stats_col">
            <div class="stats_number">5</div>
            <div class="stats_text grey">classes attended</div>
        </div>
        <div class="stats_col">
            <div class="stats_number">250</div>
            <div class="stats_text grey">min trained</div>
        </div>
    </div>
</section>

{% endblock %}


{% block scripts %}
<script>

    showLogOutBtn();

</script>

{% endblock %}