{% extends 'layout.twig' %}

{% block body %}


<section id="home_instr_top">

    <div class="home_instr_top__col_left">
        <div class="create_new_container">
            <div class="create_new__title grey">
                New Class
            </div>
            <div class="create_new__text grey">
                Here you can create a new yoga class.
            </div>
            <div class="create_new__text grey">
                Once it is published, users will be able to find it on the search page.
            </div>

            <button id="home_instr_create_class_btn"><a href="#new_class_form_wrapper">Add a new class</a></button>
        </div>

        <div class="create_new_container">
            <div class="create_new__title grey">
                New Event
            </div>
            <div class="create_new__text grey">
                Planning something bigger than a regular class?
            </div>
            <div class="create_new__text grey">
                Use this form to create an event - a getaway, a retreat, or a meetup!
            </div>

            <button id="home_instr_create_event_btn"><a href="#new_event_form_wrapper">Create an event</a></button>

        </div>
    </div>

    <div class="home_instr_top__col_right">
        <div class="home_instr_upcom_title grey">My next classes (<span>12</span>) </div>
        <div id="home_instr_upcom_classes_wrapper">
            <div class="home_instr_upcom_class_cont">
                <div class="home_instr_upcom_class_col_left">
                    <div class="upcoming_class_title">Hatha</div>
                    <div>29.06.2022</div>
                    <div>14:00</div>
                </div>
                <div class="home_instr_upcom_class_col_right grey">
                    <div class="edit_icon">
                        <span class="material-symbols-outlined grey">edit</span>
                        <span>edit</span>
                    </div>
                    <div class="home_instr_location_link">
                        <span class="material-symbols-outlined pin_drop grey">pin_drop</span>
                        <span class="instructor_page_studio">
                            <a class="grey" href="">Amagerbrogade 23, 2300</a>
                        </span>
                    </div>
                    <div class="home_instr_attention grey">
                        <span class="home_instr_attention-icon grey material-symbols-outlined">priority_high</span>
                        <div>4 spots left</div>
                    </div>
                </div>
            </div>

            <div class="home_instr_upcom_class_cont">
                <div class="home_instr_upcom_class_col_left">
                    <div class="upcoming_class_title">Hatha</div>
                    <div>29.06.2022</div>
                    <div>14:00</div>
                </div>
                <div class="home_instr_upcom_class_col_right grey">
                    <div class="edit_icon">
                        <span class="material-symbols-outlined grey">edit</span>
                        <span>edit</span>
                    </div>
                    <div class="home_instr_location_link">
                        <span class="material-symbols-outlined pin_drop grey">pin_drop</span>
                        <span class="instructor_page_studio">
                            <a class="grey" href="">Amagerbrogade 23, 2300</a>
                        </span>
                    </div>
                    <div class="home_instr_attention grey">
                        <span class="home_instr_attention-icon grey material-symbols-outlined">priority_high</span>
                        <div>4 spots left</div>
                    </div>
                </div>
            </div>
        </div>
        <button id="home_instr_see_all_btn">See all</button>
    </div>
</section>



<section id="home_instr__dynamic_content">
    <div class="hidden" id="new_class_form_wrapper">

        <div class="title">New class</div>
        <form action="" method="">
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="title" />
                </label>
            </div>
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="lorem" />
                </label>
            </div>
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="ipsum" />
                </label>
            </div>
            <button type="text" class="submit">submit</button>
        </form>
    </div>
    <div class="hidden" id="new_event_form_wrapper">
        <div class="title">New event</div>
        <form action="" method="">
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="title" />
                </label>
            </div>
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="lorem" />
                </label>
            </div>
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="ipsum" />
                </label>
            </div>
            <button type="text" class="submit">submit</button>
        </form>
    </div>

</section>



{% endblock %}


{% block scripts %}
<script>

    showLogOutBtn();

    renderDynamicContent();

</script>

{% endblock %}