{% extends 'layout.twig' %}

{% block body %}


<section id="home_instr_top">

    <div class="home_instr_top__col_left">
        <div class="offers_section_title">Last Offers Near Me</div>

        <div class="last_offers_container">

            {# <div class="single_offer_wrapper">

                <div class="last_offer_title"> Hatha yoga </div>

                <div class="last_offer_info">

                    <div class="last_offer_col_left">
                        <div>29.06.2022</div>
                        <div>14:00</div>
                    </div>

                    <div class="last_offer_col_right">
                        <div class="old_price grey">200DKK</div>
                        <div class="new_price">100DKK</div>
                    </div>
                </div>
            </div>

            <div class="single_offer_wrapper">

                <div class="last_offer_title"> Hatha yoga </div>

                <div class="last_offer_info">

                    <div class="last_offer_col_left">
                        <div>29.06.2022</div>
                        <div>14:00</div>
                    </div>

                    <div class="last_offer_col_right">
                        <div class="old_price grey">200DKK</div>
                        <div class="new_price">100DKK</div>
                    </div>
                </div>
            </div>
            <div class="single_offer_wrapper">

                <div class="last_offer_title"> Hatha yoga </div>

                <div class="last_offer_info">

                    <div class="last_offer_col_left">
                        <div>29.06.2022</div>
                        <div>14:00</div>
                    </div>

                    <div class="last_offer_col_right">
                        <div class="old_price grey">200DKK</div>
                        <div class="new_price">100DKK</div>
                    </div>
                </div>
            </div>

            <div class="single_offer_wrapper">

                <div class="last_offer_title"> Hatha yoga </div>

                <div class="last_offer_info">

                    <div class="last_offer_col_left">
                        <div>29.06.2022</div>
                        <div>14:00</div>
                    </div>

                    <div class="last_offer_col_right">
                        <div class="old_price grey">200DKK</div>
                        <div class="new_price">100DKK</div>
                    </div>
                </div>
            </div>

            <div class="single_offer_wrapper">

                <div class="last_offer_title"> Hatha yoga </div>

                <div class="last_offer_info">

                    <div class="last_offer_col_left">
                        <div>29.06.2022</div>
                        <div>14:00</div>
                    </div>

                    <div class="last_offer_col_right">
                        <div class="old_price grey">200DKK</div>
                        <div class="new_price">100DKK</div>
                    </div>
                </div>
            </div> #}


        </div>
        <br>
        <div>
            <a href="/index" id="browse_all_classes_btn">Browse all classes</a>
        </div>

    </div>

    <div class="home_instr_top__col_right">
        <div class="hidden" id="secretInfoHomeUser">{{data[0].user_id}}</div>
        <div class="home_instr_upcom_title grey">My next classes (<span id="nextClassesCount"></span>)</div>
        <div class="nextClassesContainer" id="home_instr_upcom_classes_wrapper">
        </div>
        <button id="home_instr_see_all_btn">See all</button>
    </div>
</section>



<section id="favs">

    <div class="fav_section_title"></div>

</section>



<section id="stats">

    <div class="stats_section_title">My stats this month</div>
    
    <div class="stats_columns">
        
        <div class="stats_col">
            <div class="stats_number">5</div>
            <div class="stats_text grey">classes attended</div>
        </div>
        
        <div class="stats_col">
            
            <div class="stats_number">250</div>
            <div class="stats_text grey">min trained</div>
        </div>
    </div>

</section>



{# In the following secion we render dynamic content:
a new class form,
a new event form,
or the full list of upcoming classes
based on which button the instructor clicked in the secion #home_instr_top #}
{# <section id="home_instr__dynamic_content">
    <div id="new_class_form_wrapper">

        <div class="title">New event</div>
        <form action="" method="">
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="title" />
                </label>
            </div>
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="lorem" />
                </label>
            </div>
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="ipsum" />
                </label>
            </div>
            <button type="text" class="submit">submit</button>
        </form>
    </div>
    <div id="new_event_form_wrapper">
        <div class="title">New class</div>
        <form action="" method="">
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="title" />
                </label>
            </div>
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="lorem" />
                </label>
            </div>
            <div class="input-container">
                <label>
                    <input id="" class="input" type="text" placeholder="ipsum" />
                </label>
            </div>
            <button type="text" class="submit">submit</button>
        </form>
    </div>

</section> #}






{% endblock %}