{% extends 'layout.twig' %}

{% block body %}

<div>hello {{ name }}</div>

<a href="/logout">Log out</a>
<div><a href="/">Home</a></div>
<div><a href="/users">Users</a></div>

<br>

<button id="show_users">show users</button>

<div id="users"></div>
{% endblock %}