{% extends 'layout.twig' %}

{% block body %}

{# <div id="testing_single_class">{{data.class_capacity}}</div> #}


<section id="instructor_page_container">
    <div id="instructor_page_top">
        <div class="instructor_page_top_col_left">
            <div id="instructor_page_image_wrapper">
                <img id="instructor_page_image" src="/images/instructor_profile_pic.jpg" alt="yoga_class">
            </div>
            <div id="instructor_page_info_wrapper">
                <div class="instr_name">Trine Nielsen</div>
                <div class="instr_title grey">Yoga instructor</div>
            </div>
        </div>
        <div class="instructor_page_top_col_right">
            <div class="favourite">
                <span class="material-symbols-outlined">
                    favorite
                </span>
                Add to favourites
            </div>
            <div>
                <div class="upcoming hover-underline-animation">
                    <a href="#instructor_upcoming_classes">Trine's upcoming classes</a>
                    <span class="grey material-symbols-outlined">double_arrow</span>
                </div>
            </div>
        </div>
    </div>

    <div id="instructor_page_main">

        <div class="instructor_page_main_col_left">
            <div class="col_left_row">Experience: 5y </div>
            <div class="col_left_row">Ratings: 4.9 </div>
            <div class="col_left_row">Reviews: </div>
            <div class="reviews_mini">
                <div class="review_mini_wrapper">
                    <div class="review_info">
                        <div class="review_date_time">
                            <div class="review_date">12.02.2022</div>
                            <div class="review_time">12:36</div>
                            <div class="review_mini_author grey">Katrina S.</div>
                        </div>
                        <div class="review_title">
                            lorem ipsum
                        </div>
                        <div class="review_text grey">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                            pretium.
                            Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit
                            mauris,
                            ornare egestas urna faucibus at.
                        </div>
                    </div>
                </div>

                <div class="review_mini_wrapper">
                    <div class="review_info">
                        <div class="review_date_time">
                            <div class="review_date">12.02.2022</div>
                            <div class="review_time">12:36</div>
                            <div class="review_mini_author grey">Katrina S.</div>
                        </div>
                        <div class="review_title">
                            lorem ipsum
                        </div>
                        <div class="review_text grey">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                            pretium.
                            Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit
                            mauris,
                            ornare egestas urna faucibus at.
                        </div>
                    </div>
                </div>

                <div class="review_mini_wrapper">
                    <div class="review_info">
                        <div class="review_date_time">
                            <div class="review_date">12.02.2022</div>
                            <div class="review_time">12:36</div>
                            <div class="review_mini_author grey">Katrina S.</div>
                        </div>
                        <div class="review_title">
                            lorem ipsum
                        </div>
                        <div class="review_text grey">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                            pretium.
                            Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit
                            mauris,
                            ornare egestas urna faucibus at.
                        </div>
                    </div>
                </div>

                <div class="review_mini_wrapper">
                    <div class="review_info">
                        <div class="review_date_time">
                            <div class="review_date">12.02.2022</div>
                            <div class="review_time">12:36</div>
                            <div class="review_mini_author grey">Katrina S.</div>
                        </div>
                        <div class="review_title">
                            lorem ipsum
                        </div>
                        <div class="review_text grey">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                            pretium.
                            Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit
                            mauris,
                            ornare egestas urna faucibus at.
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div class="instructor_page_main_col_right">
            <div class="col_right_heading">Where you can find Trine:</div>

            <ul>
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="instructor_page_studio"><a class="grey" href="">Yoga Studio XYZ</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
            </ul>
            <ul>
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="instructor_page_studio"><a class="grey" href="">Yoga Studio 1</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
            </ul>
            <ul>
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="instructor_page_studio"><a class="grey" href="">Amager Strand</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
            </ul>
            <ul>
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="instructor_page_studio"><a class="grey" href="">Kongens Have</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
            </ul>

        </div>

    </div>

    <div id="instructor_upcoming_classes">
        <div class="instructor_upcoming_classes__heading">
            <span>Trine</span>'s upcoming classes
        </div>
        <div id="upcoming_classes_wrapper">
            <div class="upcoming_class_wrapper">

                <div class="upcoming_class_title">Hatha Yoga class 🇺🇸 🇩🇰 </div>

                <div class="upcom_class_container">

                    <div class="upcom_class_col_left">
                        <div>29.06.2022</div>
                        <div>14:00</div>
                        <div class="grey weekday">Monday</div>
                    </div>

                    <div class="upcom_class_col_right">
                        <div class="location_link hover-underline-animation">
                            <span class="material-symbols-outlined pin_drop grey">pin_drop</span>
                            <span class="instructor_page_studio">
                                <a class="grey" href="">Amagerbrogade 23, 2300</a>
                            </span>
                            <span class="material-symbols-outlined">double_arrow</span>
                        </div>

                        <div class="max_capacity grey">
                            <span class="group_icon material-symbols-outlined">groups</span>
                            <div>Max <span>12</span> people</div>
                        </div>

                        <div class="attention grey">
                            <span class="attention-icon grey material-symbols-outlined">priority_high</span>
                            <div>4 spots left</div>
                        </div>
                    </div>

                    <div id="basket" class="single_class_basket">
                        <span class="material-symbols-outlined">shopping_cart</span>Add to basket
                    </div>

                </div>
            </div>
            <div class="upcoming_class_wrapper">

                <div class="upcoming_class_title">Hatha Yoga class 🇺🇸 🇩🇰 </div>

                <div class="upcom_class_container">

                    <div class="upcom_class_col_left">
                        <div>29.06.2022</div>
                        <div>14:00</div>
                        <div class="grey weekday">Monday</div>
                    </div>

                    <div class="upcom_class_col_right">
                        <div class="location_link hover-underline-animation">
                            <span class="material-symbols-outlined pin_drop grey">pin_drop</span>
                            <span class="instructor_page_studio">
                                <a class="grey" href="">Amagerbrogade 23, 2300</a>
                            </span>
                            <span class="material-symbols-outlined">double_arrow</span>
                        </div>

                        <div class="max_capacity grey">
                            <span class="group_icon material-symbols-outlined">groups</span>
                            <div>Max <span>12</span> people</div>
                        </div>

                        <div class="attention grey">
                            <span class="attention-icon grey material-symbols-outlined">priority_high</span>
                            <div>4 spots left</div>
                        </div>
                    </div>

                    <div id="basket" class="single_class_basket">
                        <span class="material-symbols-outlined">shopping_cart</span>Add to basket
                    </div>

                </div>
            </div>

            <div class="upcoming_class_wrapper">

                <div class="upcoming_class_title">Hatha Yoga class 🇺🇸 🇩🇰 </div>

                <div class="upcom_class_container">

                    <div class="upcom_class_col_left">
                        <div>29.06.2022</div>
                        <div>14:00</div>
                        <div class="grey weekday">Monday</div>
                    </div>

                    <div class="upcom_class_col_right">
                        <div class="location_link hover-underline-animation">
                            <span class="material-symbols-outlined pin_drop grey">pin_drop</span>
                            <span class="instructor_page_studio">
                                <a class="grey" href="">Amagerbrogade 23, 2300</a>
                            </span>
                            <span class="material-symbols-outlined">double_arrow</span>
                        </div>

                        <div class="max_capacity grey">
                            <span class="group_icon material-symbols-outlined">groups</span>
                            <div>Max <span>12</span> people</div>
                        </div>

                        <div class="attention">
                            <span class="attention-icon material-symbols-outlined">priority_high</span>
                            <div>4 spots left</div>
                        </div>
                    </div>

                    <div id="basket" class="single_class_basket">
                        <span class="material-symbols-outlined">shopping_cart</span>Add to basket
                    </div>

                </div>
            </div>


        </div>
    </div>


</section>



{% endblock %}