<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,600;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,600&display=swap">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  {% block nav %}
  <nav>
    <div id="logo">logo</div>
    <div id="nav_menu">
      <ul>
        <li>Link1</li>
        <li>My profile</li>
      </ul>
    </div>
  </nav>
  {% endblock %}

  {% block body %}{% endblock %}
  {% block footer %}
  <footer>
    footer here
  </footer>
  {% endblock %}

  <script src="/javascripts/scripts.js"></script>
  
</body>

</html>