{% extends 'layout.twig' %}

{% block body %}

{# <div id="testing_single_class">{{data.class_capacity}}</div> #}


{# <div id="class_title" class=""></div> #}
<section id="class_page_container">

    <div id="class_page_top">
        <div id="class_page_image_wrapper">
            <img id="class_page_image" src="/images/pexels-andrea-piacquadio-3757955.jpg" alt="yoga_class">
        </div>

        <div id="class_page_main_info">
            {# <div id="class_page_title">Hatha yoga class</div> #}
            <div id="class_page_title">Hatha yoga class</div>

            <div class="class_page_col_wrapper">

                <div class="class_page_col_left">
                    <div class="class_page_instructor hover-underline-animation grey">
                        <span class="grey">with Trine Nielsen</span>
                        <span class="material-symbols-outlined">double_arrow</span>
                    </div>
                    <div class="class_page_date_time grey">
                        <div><span class="material-symbols-outlined">event</span> 22.06.2022</div>
                        <div><span class="material-symbols-outlined">schedule</span> 16:00</div>
                    </div>
                </div>

                <div class="class_page_col_right">
                    <div class="class_page_price">120 DKK</div>
                    <div id="basket" class="single_class_basket">
                        <span class="material-symbols-outlined">shopping_cart</span>Add to basket
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="class_page_extra_info">


        <div class="class_page_extra_info_top">

            <div class="class_page_location grey">
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="class_page_studio"><a class="grey" href="">Yoga Studio XYZ</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
                <div class="class_page_address">
                    <span class="class_page_street grey">Amagerbrogade</span>
                    <span class="class_page_building grey">72</span>,
                    <span class="class_page_zipcode grey">2300</span>
                </div>
            </div>

            <div class="class_page_ratings grey">
                <div class="class_page_ratings_number"> ⭐ 4.5</div>
                <div class="class_page_ratings_reviews hover-underline-animation">
                    <a class="grey" href="#class_page_reviews"> Reviews
                        <span class="class_page_review_number">(12)</span>
                        <span class="material-symbols-outlined">double_arrow</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="class_page_class_description grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et pretium. Cras nec
            lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit mauris, ornare egestas urna
            faucibus at. Pellentesque ex urna, imperdiet a ornare at, vestibulum in est. Aenean et nunc pretium leo
            blandit commodo. Fusce congue risus id condimentum euismod. Nam aliquet, tellus id posuere sagittis, magna
            justo vulputate lacus, ac fringilla mi nunc vitae tellus. Duis non hendrerit magna, sit amet pellentesque
            urna. Maecenas semper tortor nisi, quis sollicitudin neque varius aliquet. Praesent lobortis massa eros, ut
            sodales magna semper vel. Nam sapien purus, condimentum id neque eu, aliquet ullamcorper tortor. Sed
            sagittis magna a nibh pulvinar ullamcorper.
        </div>
        <div class="class_page_class_description grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et pretium. Cras nec
            lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit mauris, ornare egestas urna
            faucibus at. Pellentesque ex urna, imperdiet a ornare at, vestibulum in est. Aenean et nunc pretium leo
            blandit commodo. Fusce congue risus id condimentum euismod. Nam aliquet, tellus id posuere sagittis, magna
            justo vulputate lacus, ac fringilla mi nunc vitae tellus. Duis non hendrerit magna, sit amet pellentesque
            urna. Maecenas semper tortor nisi, quis sollicitudin neque varius aliquet. Praesent lobortis massa eros, ut
            sodales magna semper vel. Nam sapien purus, condimentum id neque eu, aliquet ullamcorper tortor. Sed
            sagittis magna a nibh pulvinar ullamcorper.
        </div>




        <div id="class_page_reviews">

            <div class="review_wrapper">
                <div class="review_info">
                    <div class="review_date_time">
                        <div class="review_date">12.02.2022</div>
                        <div class="review_time">12:36</div>
                    </div>
                    <div class="review_title">
                        lorem ipsum
                    </div>
                    <div class="review_text grey">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                        pretium.
                        Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit mauris,
                        ornare egestas urna faucibus at.
                    </div>
                </div>
                <div class="review_author grey">Katrina S.</div>
            </div>

            <div class="review_wrapper">
                <div class="review_info">
                    <div class="review_date_time">
                        <div class="review_date">12.02.2022</div>
                        <div class="review_time">12:36</div>
                    </div>
                    <div class="review_title">
                        lorem ipsum
                    </div>
                    <div class="review_text grey">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                        pretium.
                        Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit mauris,
                        ornare egestas urna faucibus at.
                    </div>
                </div>
                <div class="review_author grey">Katrina S.</div>
            </div>

            <div class="review_wrapper">
                <div class="review_info">
                    <div class="review_date_time">
                        <div class="review_date">12.02.2022</div>
                        <div class="review_time">12:36</div>
                    </div>
                    <div class="review_title">
                        lorem ipsum
                    </div>
                    <div class="review_text grey">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                        pretium.
                        Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit mauris,
                        ornare egestas urna faucibus at.
                    </div>
                </div>
                <div class="review_author grey">Katrina S.</div>
            </div>

            <div class="review_wrapper">
                <div class="review_info">
                    <div class="review_date_time">
                        <div class="review_date">12.02.2022</div>
                        <div class="review_time">12:36</div>
                    </div>
                    <div class="review_title">
                        lorem ipsum
                    </div>
                    <div class="review_text grey">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                        pretium.
                        Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit mauris,
                        ornare egestas urna faucibus at.
                    </div>
                </div>
                <div class="review_author grey">Katrina S.</div>
            </div>

            <div class="review_wrapper">
                <div class="review_info">
                    <div class="review_date_time">
                        <div class="review_date">12.02.2022</div>
                        <div class="review_time">12:36</div>
                    </div>
                    <div class="review_title">
                        lorem ipsum
                    </div>
                    <div class="review_text grey">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                        pretium.
                        Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit mauris,
                        ornare egestas urna faucibus at.
                    </div>
                </div>
                <div class="review_author grey">Katrina S.</div>
            </div>

            <div class="review_wrapper">
                <div class="review_info">
                    <div class="review_date_time">
                        <div class="review_date">12.02.2022</div>
                        <div class="review_time">12:36</div>
                    </div>
                    <div class="review_title">
                        lorem ipsum
                    </div>
                    <div class="review_text grey">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                        pretium.
                        Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit mauris,
                        ornare egestas urna faucibus at.
                    </div>
                </div>
                <div class="review_author grey">Katrina S.</div>
            </div>

            <div class="review_wrapper">
                <div class="review_info">
                    <div class="review_date_time">
                        <div class="review_date">12.02.2022</div>
                        <div class="review_time">12:36</div>
                    </div>
                    <div class="review_title">
                        lorem ipsum
                    </div>
                    <div class="review_text grey">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit eleifend lacus et
                        pretium.
                        Cras nec lobortis eros. Praesent interdum cursus justo vel egestas. Nam dictum hendrerit mauris,
                        ornare egestas urna faucibus at.
                    </div>
                </div>
                <div class="review_author grey">Katrina S.</div>
            </div>
            
        </div>
    </div>


</section>



{% endblock %}