{% extends 'layout.twig' %}

{% block body %}

<div id="testing_single_class">{{data.class_capacity}}</div>



{# <div id="class_title" class=""></div> #}
<img class="single_class_cover_photo" src="/images/pexels-andrea-piacquadio-3757955.jpg" alt="yoga_class">
{% endblock %}