* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fonts {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Serif', serif;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(144, 144, 144); */
  padding: 10px 15px;
  align-items: center;
}

#logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}

#logo a {
  text-decoration: none;
  color: black;
}

#nav_menu ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 20px;
}

.checkout {
  display: flex;
  align-items: center;
}

#dropdown_menu {
  position: absolute;
  z-index: 1;
  background-color: brown;
  padding: 15px;
  right: 10px;
  display: none;
}

#dropdown_menu a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

#my_profile_icon:hover+#dropdown_menu {
  display: block;
}

#nav_menu .material-symbols-outlined {
  font-size: 2rem;
}

li {
  margin: 0 10px;
}

.filters_checkboxes {
  display: flex;
  flex-direction: column;
}

#home_page_container {
  display: flex;
  position: relative;
}

#filters_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  padding: 10px;
  width: 170px;
}

#search_results_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#search_results {
  width: 60%;
  /* border: 1px solid black; */
}

#map {
  width: 40%;
  border: 1px solid black;
  /* background-color: rgb(223, 203, 45); */
}

body {
  background-color: rgb(250, 250, 250);
}

/* single class search results overview*/

.single_class_container {
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.single_class_container:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.single_class_wrapper {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
}

.single_class_top {
  display: flex;
  justify-content: flex-end;
}


.single_class_title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

.single_class_more_info a {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #444444;
  text-decoration: none;
  transition: transform 80ms ease-in;
}

.single_class_more_info a:hover {
  color: black;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:hover {
  cursor: pointer;
  color: black;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e38817;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;

}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.single_class_duration,
.single_class_location,
.single_class_instructor,
.single_class_capacity,
.single_class_time,
.single_class_date {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
}


.grey {
  color: #444444;
}

.single_class_col div {
  margin-bottom: 10px;
}

.single_class_col span {
  margin-right: 5px;
}

.col_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single_class_price {
  font-size: 22px;
  font-weight: bold;
}

/* google icons */
.material-symbols-outlined {
  /* color: black; */
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.single_class_basket {
  padding: 10px;
  border: 1px solid #e38817;
  display: flex;
  align-items: center;
  background-color: #e38817;
  color: white;
  transition: transform 80ms ease-in;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

.single_class_basket:hover {
  cursor: pointer;
  transform: scale(1.05);

}

.single_class_basket:active {
  transform: scale(0.95);
}

.single_class_basket .material-symbols-outlined {
  font-size: 40px;
}

.single_class_thumbnail {
  width: 150px;
  height: auto;
}

/* class page - start */
#class_page_container {
  font-family: 'Lato', sans-serif;
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
}

#class_page_image {
  width: 300px;
  height: auto;
}

#class_page_top {
  display: flex;
  margin-bottom: 20px;
}

#class_page_main_info {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.class_page_col_wrapper {
  display: flex;
  justify-content: space-between;
}

.class_page_col_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#class_page_title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.class_page_instructor {
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.class_page_instructor:hover span {
  color: black;
}

.class_page_date_time {
  font-size: 1.8rem;
}

.class_page_date_time span {
  margin-bottom: 10px;
}

.class_page_price {
  font-size: 30px;
}

#class_page_extra_info {
  margin: 20px 0;
}

.class_page_extra_info_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class_page_location {
  margin: 10px 0 20px 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.location_link {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.location_link:hover span a{
  color: black;
}

.class_page_studio a {
  text-decoration: none;
  font-weight: bold;
}

.class_page_studio a:hover {
  color: black;
}

.class_page_ratings {
  margin: 10px 40px 20px;
  display: flex;
  align-items: center;
}

.class_page_ratings div {
  margin: 0 5px;
}

.class_page_ratings_number {
  display: flex;
  align-items: center;
}

.pin_drop {
  margin-right: 5px;
}


.class_page_ratings_reviews a {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.class_page_ratings_reviews a:hover {
  color: black;
}

.class_page_review_number {
  margin-left: 3px;
}

.class_page_class_description {
  margin-bottom: 20px;
}


.review_wrapper {
  border-bottom: 0.7px solid grey;
  padding: 10px 0;
  display: flex;
}

.review_author {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.7px solid grey;
  margin: 30px;
  padding-left: 10px;
}

.review_date_time {
  display: flex;
}

.review_date_time div {
  margin: 5px 10px 5px 0;
  color: rgb(155, 155, 155);
  font-size: 13px;
}

.review_title {
  margin-bottom: 5px;
  font-weight: bold;
}

.review_text,
.review_author {
  font-size: 15px;
}

/* class page - end */



/* footer - start */
footer {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  font-family: 'Lato', sans-serif;
  padding: 40px 0;
}

.footer_columns {
  display: flex;
  justify-content: space-around;
}

.footer_col_heading {
  font-weight: bold;
  color: rgb(215, 215, 215, 0.9);
  margin-bottom: 15px;
  font-size: 18px;
}

.footer_columns div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.footer_columns ul {
  list-style: none;
}

.footer_columns ul li {
  margin: 0;
  padding: 10px 0;
  color: rgb(215, 215, 215, 0.7);
}

/* footer - end */


/* instructor page - start */
#instructor_page_container {
  font-family: 'Lato', sans-serif;
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
}

#instructor_page_top {
  display: flex;
  justify-content: space-around;
}

.instructor_page_top_col_left {
  display: flex;
}

.instructor_page_top_col_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.favourite {
  display: flex;
  align-items: center;
}

.favourite span {
  margin-right: 5px;
  transition: transform 80ms ease-in;
}

.favourite span:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.favourite span:active {
  cursor: pointer;
  transform: scale(0.8);
}

#instructor_page_image {
  width: 150px;
  border-radius: 100px;
}

#instructor_page_info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.instr_name {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 10px;
}

.instr_title {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px 10px;
}

.upcoming {
  display: flex;
}

.upcoming a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black
}

#instructor_page_main {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.instructor_page_main_col_left {
  font-size: 1.5rem;
  width: 60%;
}

.instructor_page_main_col_right {
  width: 30%;
}

.instructor_page_main_col_right ul {
  margin-bottom: 10px;
}

.instructor_page_main_col_right .instructor_page_studio a {
  text-decoration: none;
}

.col_right_heading {
  margin-bottom: 10px;
}

.col_left_row {
  margin-bottom: 15px;
}

.reviews_mini {
  height: 220px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: white;
  padding: 0 15px;
  border-radius: 5px;
}

.review_mini_wrapper {
  border-bottom: 0.7px solid grey;
  padding: 15px 0;
}

.reviews_mini:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.review_mini_author {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.7px solid grey;
  padding-left: 10px;
}

#instructor_upcoming_classes {
  margin: 60px 0;
}

.instructor_upcoming_classes__heading {
  padding-bottom: 10px;
  border-bottom: 0.7px solid grey;
  text-transform: uppercase;
  font-size: 2rem;
}

.upcoming_class_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: white;
  padding: 30px 15px;
  border-radius: 5px;
  margin: 30px 0;
}

.upcoming_class_wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.upcom_class_container {
  display: flex;
  justify-content: space-between;
}

.upcom_class_container a {
  text-decoration: none;
}

.upcom_class_col_right {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.upcom_class_col_right div {
  /* padding-bottom: 10px; */
}

.upcom_class_col_left {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.upcom_class_col_left div {
  /* padding-bottom: 10px; */
}

.weekday {
  font-size: 14px;
}

.max_capacity {
  display: flex;
  align-items: center;
}

.group_icon {
  margin-right: 5px;
}

.attention {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: black;
}

.attention-icon {
  margin-right: 5px;
}

.upcom_class_col_left>div {
  margin-bottom: 5px;
}

.upcom_class_col_right>div {
  margin-bottom: 5px;
}


.upcoming_class_title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}

/* instructor page - end */